@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Components

@inherits AdaptiveCardsBase

@if (Models?.Any() == true)
{
    <ul @attributes="Attributes" class="@(@class)">
        <CascadingValue Value="@RenderMode" Name="RenderMode">
            <CascadingValue Value="@TemplateSelector" Name="TemplateSelector">
                <CascadingValue Value="@Schema" Name="Template">
                    @{
                        var index = 0;
                        foreach (var model in Models)
                        {
                            <li>
                                <TemplatedAdaptiveCard Model="@model" Attributes="@(GetCardAttributes(index, model))"
                                                                                   SubmitHandler="@SubmitHandler"
                                                                                   OnCardRenderFailed="@OnCardRenderFailed"
                                                                                   OnCardRendered="@OnCardRendered"
                                                                                   OnSubmitAction="@OnSubmitAction"
                                                                                   OnOpenUrlAction="@OnOpenLinkAction"></TemplatedAdaptiveCard>
                            </li>
                        }
                    }
                </CascadingValue>
            </CascadingValue>
        </CascadingValue>
    </ul>
}