@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Components

@typeparam TModel
@inherits AdaptiveCardsBase<TModel>

@if (Models?.Any() == true)
{
    <ul @attributes="Attributes" class="@ContainerClass">
        <CascadingValue Value="@RenderMode" Name="RenderMode">
            <CascadingValue Value="@TemplateSelector" Name="TemplateSelector">
                <CascadingValue Value="@Schema" Name="Template">
                    @for (var i = 0; i < Models.Count; i++)
                    {
                        <li>
                            <TemplatedAdaptiveCard TModel="TModel" Model="@Models[i]" Attributes="@(GetCardAttributes(i, Models[i]))"></TemplatedAdaptiveCard>
                        </li>
                    }
                </CascadingValue>
            </CascadingValue>
        </CascadingValue>
    </ul>
}