@{
    DisableEncoding = true;
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>@Model.Title</title>
    <meta name="description" content="@Model.Description">

    <link href="/assets/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/docs.min.css" rel="stylesheet">
    <link href="/assets/prism.css" rel="stylesheet">
    <link href="/assets/simpleLightbox.min.css" rel="stylesheet">
    <link href="/assets/theme.css" rel="stylesheet">

    <link rel="icon" type="image/png" href="/assets/favicon.png" />
</head>
<body>

    <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar bd-fix">

        <a class="navbar-brand mr-0 mr-md-2" href="@Model.Navigations[0].Url"><img src="@Model.Logo" width="36" height="36" class="d-block" viewBox="0 0 612 612" role="img" focusable="false" /></a>

        <div class="navbar-nav-scroll">
            <ul class="navbar-nav bd-navbar-nav flex-row">
                @foreach (var navigationLink in Model.Navigations)
                {
                    var linkClass = "nav-link ";
                    linkClass += navigationLink.ExtraClass;

                    <li class="nav-item">
                        <a class="@linkClass" href="@navigationLink.Url">@navigationLink.Navigation</a>
                    </li>
                }
            </ul>
        </div>

        <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
            @foreach (var secondaryLink in Model.SecondaryLinks)
            {
                <li class="nav-item">
                    <a class="nav-link p-2" href="@secondaryLink.Url" target="_blank" rel="noopener">@secondaryLink.SecondaryLink</a>
                </li>
            }
        </ul>
    </header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-3 col-xl-2 bd-sidebar">
                <button class="btn btn-link bd-search-docs-toggle d-md-none p-0 collapsed" type="button" data-toggle="collapse" data-target="#bd-docs-nav" aria-controls="bd-docs-nav" aria-expanded="false" aria-label="Toggle docs navigation"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" role="img" focusable="false"><title>Menu</title><path stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"></path></svg></button>
                <nav class="collapse bd-links" id="bd-docs-nav">
                    @foreach (var pageGroup in Model.PageGroups)
                    {
                        <div class="bd-toc-item active">
                            <a class="bd-toc-link" href="@pageGroup.DefaultLocation">
                                @pageGroup.Name
                            </a>

                            @if (pageGroup.ShowChildPagesIfEmptyOrOne == true || pageGroup.Pages.Count > 1)
                            {
                                <ul class="nav bd-sidenav">
                                    @foreach (var page in pageGroup.Pages)
                                    {
                                        var classNames = "";
                                        if (page.Location == Model.Page.Location)
                                        {
                                            classNames = "active";
                                        }
                                        <li class="@classNames">
                                            <a href="@page.Location">
                                                @page.Title
                                            </a>
                                        </li>
                                    }
                                </ul>
                            }
                        </div>
                    }
                </nav>
            </div>

            @if (Model.Page.ContainsToc)
            {
                <div class="d-none d-xl-block col-xl-2 bd-toc">
                    <ul class="section-nav">
                        @foreach (var tocItem in @Model.Page.TableOfContents)
                        {
                            var level = "toc-h" + tocItem.Item1;
                            <li class="toc-entry @level"><a href="#@tocItem.Item2">@tocItem.Item3</a></li>
                        }
                    </ul>
                </div>
            }

            <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
                <h1 class="bd-title" id="content">@Model.Page.Title</h1>
                <p class="bd-lead">@Model.Page.Description</p>
                @Model.Page.Content

                <div class="row">
                    <div class="col">
                        @if (Model.Page.PreviousPageInGroup != null)
                        {
                            <a class="text-muted" href="@Model.Page.PreviousPageInGroup.Location">Previous: @Model.Page.PreviousPageInGroup.Title</a>
                        }
                    </div>
                    <div class="col text-right">
                        @if (Model.Page.NextPageInGroup != null)
                        {
                            <a class="text-muted" href="@Model.Page.NextPageInGroup.Location">Next: @Model.Page.NextPageInGroup.Title</a>
                        }
                    </div>
                </div>

            </main>

        </div>

        <div class="row">
            <div class="col-12">
                <footer class="bd-footer text-muted">
                    <div class="p-4">
                        @if (!string.IsNullOrWhiteSpace(Model.Footer))
                        {
                            <p>@Model.Footer</p>
                        }
                        <p>Documentation built with <a target="_blank" href="https://grazedocs.io">GrazeDocs</a>. <a target="_blank" href="https://getbootstrap.com/docs/4.3/assets/css/docs.min.css">"Bootstrap Docs"</a> theme by Twitter is licensed under <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank" rel="license noopener">CC BY 3.0</a></p>
                    </div>
                </footer>
            </div>
        </div>
    </div>

    <script src="/assets/jquery-3.2.1.slim.min.js"></script>
    <script src="/assets/popper.min.js"></script>
    <script src="/assets/bootstrap.min.js"></script>
    <script src="/assets/prism.js"></script>
    <script src="/assets/simpleLightbox.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.lightbox').simpleLightbox();
        });
    </script>
</body>
</html>
