@page "/actions/submit"

@using AdaptiveCards.Blazor.Samples.Data
@inject WeatherForecastService ForecastService

<h1>Submit action</h1>

<div class="row">
    <div class="col-4">
        <Info>This demonstrates how Submit action can be handled using OnSubmitAction.</Info>

        <AdaptiveCard Schema="@Schemas.SimpleSubmit" OnSubmitAction="OnSubmit"></AdaptiveCard>

        <Info class="mt-4">This demonstrates how Submit action can be handled using SubmitHandler.</Info>

        <AdaptiveCard Schema="@Schemas.SimpleSubmit" SubmitHandler="this"></AdaptiveCard>

        <Info class="mt-4">This demonstrates how Submit action can be handled using SubmitHandler and model binding.</Info>

        <AdaptiveCard Schema="@Schemas.SimpleSubmitNamedAction" SubmitHandler="this"></AdaptiveCard>

        <Info class="mt-4">This demonstrates how to handle a card with multiple submit actions using OnSubmitAction.</Info>

        <AdaptiveCard Schema="@Schemas.SimpleSubmitAndDecline" OnSubmitAction="OnSubmitAndDecline"></AdaptiveCard>

        <Info class="mt-4">This demonstrates how to handle a card with multiple submit actions using SubmitHandler.</Info>

        <AdaptiveCard Schema="@Schemas.SimpleSubmitAndDecline" SubmitHandler="this"></AdaptiveCard>
    </div>
    <div class="col-8">
        @if (!string.IsNullOrWhiteSpace(actionDetails))
        {
            <Sticky>
                <p class="alert alert-success mt-3" style="white-space: pre-wrap">@actionDetails</p>
            </Sticky>
        }
    </div>
</div>

@code {
    string actionDetails = "";

    private void OnSubmit(AdaptiveCards.Blazor.Actions.SubmitEventArgs eventArgs)
    {
        actionDetails = "OnSubmit: " + Environment.NewLine + System.Text.Json.JsonSerializer.Serialize(eventArgs.Data, options: new System.Text.Json.JsonSerializerOptions() { WriteIndented = true });
    }

    public Task Submit(AdaptiveCards.Blazor.Actions.SubmitEventArgs eventArgs)
    {
        actionDetails = "SubmitHandler: " + Environment.NewLine + System.Text.Json.JsonSerializer.Serialize(eventArgs.Data, options: new System.Text.Json.JsonSerializerOptions() { WriteIndented = true });

        StateHasChanged();
        return Task.CompletedTask;
    }

    public Task MySubmit(string myName, string myEmail)
    {
        var details = new { myName, myEmail };
        actionDetails = "MySubmit: " + Environment.NewLine + System.Text.Json.JsonSerializer.Serialize(details, options: new System.Text.Json.JsonSerializerOptions() { WriteIndented = true });

        StateHasChanged();
        return Task.CompletedTask;
    }

    private void OnSubmitAndDecline(AdaptiveCards.Blazor.Actions.SubmitEventArgs eventArgs)
    {
        var details = new { actionName = eventArgs.Action, eventArgs.Data };
        actionDetails = "OnSubmit: " + Environment.NewLine + System.Text.Json.JsonSerializer.Serialize(details, options: new System.Text.Json.JsonSerializerOptions() { WriteIndented = true });
    }

    public Task Send(AdaptiveCards.Blazor.Actions.SubmitEventArgs eventArgs)
    {
        actionDetails = "Send: " + Environment.NewLine + System.Text.Json.JsonSerializer.Serialize(eventArgs.Data, options: new System.Text.Json.JsonSerializerOptions() { WriteIndented = true });

        StateHasChanged();
        return Task.CompletedTask;
    }

    public void Decline(AdaptiveCards.Blazor.Actions.SubmitEventArgs eventArgs)
    {
        actionDetails = "Decline: " + Environment.NewLine + System.Text.Json.JsonSerializer.Serialize(eventArgs.Data, options: new System.Text.Json.JsonSerializerOptions() { WriteIndented = true });

        StateHasChanged();
    }
}
